aniso8601==9.0.1
cffi==1.15.1
click==8.0.3
colorama
cryptography==38.0.4
dnspython==2.2.1
Flask
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-Mail
importlib-metadata
itsdangerous
Jinja2
jwt==1.3.1
MarkupSafe
pycparser==2.21
pymongo
pytz==2022.6
six==1.16.0
Werkzeug
zipp
